# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Env files
.env
.env.*

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Node.js
node_modules/
dist/
build/

# Logs/Coverage
*.log
coverage/
.coverage
